<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    
<nav class="navbar navbar-light" style="background-color: #f2f2f2" >
    <div class="container-fluid">
        <div class="navbar-header">
        	<div>
        		<img alt="ifpb" th:src="@{/images/ifpb.png}" />
        	</div>
        </div>
    </div>
</nav>
<div id="container">
	 	<img alt="FLSystem" th:src="@{/images/logo_flsystem_pds.png}" />
	 </div>
    
</html>